---
#* Synchronize nodes setups with current one
# Pawelo, 20251213, added .mailrc and smartmon.sh to synced files
# Pawelo, 20251213, skipping not existing files on src node
# Pawelo, 20251213, preserving ownership for exe files
# Pawelo, 20251214, refactoring to eliminate ~ for explicit paths
####################

- name: >-
    COPY user setup (.profile, .vimrc, .nanorc, .mailrc, .ssh/,
    .gitconfig, .backups.sh, smartmon.sh) to the rest nodes
  #  hosts: all
  # all nodes except the first one in inventory file i
  # (if playbook runs from one of managed servers)
  hosts: all[1:]
  vars:
    source_host: "{{ groups['all'][0] }}"
    user_home: "{{ ansible_env.HOME }}"

  tasks:

    - name: Check which user config (dot) files exists in home directory
      stat:
        path: "{{ user_home }}/{{ item }}"
      delegate_to: "{{ source_host }}"
      run_once: true
      register: config_files
      loop_control:
        label: " {{ user_home }}/{{ item }}"
      with_items:
        - ".profile"
        - ".vimrc"
        - ".nanorc"
        - ".mailrc"
        - ".gitconfig"
        - ".dropbox_uploader"
        - ".backups-filelist-common"

    - name: Syncing following user config files (ONLY in HOME directory)
      copy:
        src: "{{ item.stat.path }}"
        dest: "{{ user_home }}/"
        mode: "0644"
      when: item.stat.exists
      loop: "{{ config_files.results }}"
      loop_control:
        label: " {{ item.stat.path | default(item.item) }}"

    - name: Check if executable files exists
      stat:
        path: "{{ item }}"
      delegate_to: localhost
      run_once: true
      register: exec_files
      loop:
        - "{{ lookup('env','HOME') }}/.backups.sh"
        - "/usr/local/bin/smartmon.sh"

    - name: Syncing following user executable files
      copy:
        src: "{{ item.stat.path }}"
        dest: "{{ item.stat.path }}"
        mode: "0755"
        owner: "{{ item.stat.uid }}"
        group: "{{ item.stat.gid }}"
        backup: yes
      become: true
      when: item.stat.exists
      loop: "{{ exec_files.results }}"
      loop_control:
        label: " {{ item.stat.path | default(item.item) }}"

    # - name: Find SSH keys to copy
    #   find:
    #     paths: "~/.ssh/"
    #     recurse: true
    #     patterns: "id_*"
    #   register: keys_to_copy
    # - debug: msg= "{{ keys_to_copy.files }}"

    - name: Syncing SSH files
      copy:
        src: "{{ user_home }}/{{ item }}"
        dest: "{{ user_home }}/.ssh/{{ item | basename }}"
        mode: 0600
      register: copy_msg
      loop_control:
        label: " ~/{{ item }}"
      with_items: # "{{ keys_to_copy.files.path + [ '.ssh/authorized_keys' ] }}"
        - ".ssh/authorized_keys"
        - ".ssh/config"
        - ".ssh/id_rsa"
        - ".ssh/id_rsa.pub"
        - ".ssh/id_ed25519_github"
        - ".ssh/id_ed25519_github.pub"

        #    - name: Copy messages
        #      debug:
        #        msg: "{{ copy_msg.stdout_lines }}"
        #

