---
#* Synchronize nodes setups with current one
# Pawelo, 20251213, added .mailrc and smartmon.sh to synced files
# Pawelo, 20251213, skipping not existing files on src node
# Pawelo, 20251213, preserving ownership for exe files
# Pawelo, 20251214, refactoring to eliminate ~ for explicit paths
# Pawelo, 20251214, split SSH files into common, public keys and private keys
# Pawelo, 20251214, replace all[1:] by selecting source_host and skipping selected actions
# Pawelo, 20251214, mode for SSH files adjustments
# Pawelo, 20251225, modularized .profile (added .common_aliases, .common_functions, .server)
# Pawelo, 20260103, add .env to sync as SECRET and teregram-notify.sh as EXEC
# Pawelo, 20260104, add cron-wrapper.sh as EXEC
# Pawelo, 20260104, add .config/rclone/rclone.conf as SECRET
####################

- name: >-
    COPY user setup (PROFILE, SECRETS, EXECs, SSH, ...)
    to the rest nodes
  #  hosts: all
  # all nodes except the first one in inventory file i
  # (if playbook runs from one of managed servers)
  hosts: all
  vars:
    source_host: "{{ ansible_play_hosts_all[0] }}"
    user_home: "{{ ansible_env.HOME }}"

  tasks:

    - name: Check which user PROFILE (dot) files exists in home directory
      stat:
        path: "{{ user_home }}/{{ item }}"
      delegate_to: "{{ source_host }}"
      run_once: true
      register: profile_files
      loop_control:
        label: " {{ user_home }}/{{ item }}"
      with_items:
        - ".profile"
        - ".common_aliases"
        - ".common_functions"
        - ".server"
        - ".vimrc"
        - ".nanorc"
        - ".mailrc"
        - ".gitconfig"

    - name: Syncing following user PROFILE files (ONLY in HOME directory)
      copy:
        src: "{{ item.stat.path }}"
        dest: "{{ user_home }}/"
        mode: "0644"
      when:
        - inventory_hostname != source_host
        - item.stat.exists
      loop: "{{ profile_files.results }}"
      loop_control:
        label: " {{ item.stat.path | default(item.item) }}"

    - name: Check which user SECRETS (dot) files exists in home directory
      stat:
        path: "{{ user_home }}/{{ item }}"
      delegate_to: "{{ source_host }}"
      run_once: true
      register: secrets_files
      loop_control:
        label: " {{ user_home }}/{{ item }}"
      with_items:
        - ".env"
        - ".dropbox_uploader"
        - ".backups-filelist-common"
        - ".config/rclone/rclone.conf"

    - name: Syncing following user SECRETS files (ONLY in HOME directory)
      copy:
        src: "{{ item.stat.path }}"
        dest: "{{ user_home }}/"
        mode: "0600"
      when:
        - inventory_hostname != source_host
        - item.stat.exists
      loop: "{{ secrets_files.results }}"
      loop_control:
        label: " {{ item.stat.path | default(item.item) }}"


    - name: Check if EXECs (executable) files exists
      stat:
        path: "{{ item }}"
      delegate_to: "{{ source_host }}"
      run_once: true
      register: exec_files
      loop:
        - "{{ lookup('env','HOME') }}/.backups.sh"
        - "/usr/local/bin/smartmon.sh"
        - "/usr/local/bin/telegram-notify.sh"
        - "/usr/local/bin/cron-wrapper.sh"

    - name: Syncing following user EXECs files
      copy:
        src: "{{ item.stat.path }}"
        dest: "{{ item.stat.path }}"
        mode: "0755"
        owner: "{{ item.stat.pw_name | default(item.stat.uid) }}"
        group: "{{ item.stat.gr_name | default(item.stat.gid) }}"
        backup: yes
      become: true
      when:
        - inventory_hostname != source_host
        - item.stat.exists
      loop: "{{ exec_files.results }}"
      loop_control:
        label: " {{ item.stat.path | default(item.item) }}"

    # - name: Find SSH keys to copy
    #   find:
    #     paths: "~/.ssh/"
    #     recurse: true
    #     patterns: "id_*"
    #   register: keys_to_copy
    # - debug: msg= "{{ keys_to_copy.files }}"

    - name: "Ensure ~/.ssh directory exists"
      file:
        path: "{{ user_home }}/.ssh"
        state: directory
        mode: "0700"
      when: inventory_hostname != source_host

    - name: Syncing SSH common files
      copy:
        src: "{{ user_home }}/{{ item }}"
        dest: "{{ user_home }}/.ssh/{{ item | basename }}"
        mode: "0600"
      register: copy_msg
      loop_control:
        label: " {{ user_home }}/{{ item }}"
      when:
        - inventory_hostname != source_host
      with_items:
        - ".ssh/authorized_keys"
        - ".ssh/config"

    - name: Syncing SSH public keys
      copy:
        src: "{{ user_home }}/{{ item }}"
        dest: "{{ user_home }}/.ssh/{{ item | basename }}"
        mode: "0644"
      register: copy_pub
      loop_control:
        label: " {{ user_home }}/{{ item }}"
      when:
        - inventory_hostname != source_host
      with_items:
        - ".ssh/id_rsa.pub"
        - ".ssh/id_ed25519_github.pub"

    - name: Check SSH private keys on source host
      stat:
        path: "{{ user_home }}/{{ item }}"
      delegate_to: "{{ source_host }}"
      run_once: true
      register: ssh_private_keys
      loop:
        - .ssh/id_rsa
        - .ssh/id_ed25519_github

    - name: Sync SSH private keys (selected nodes only)
      copy:
        src: "{{ item.stat.path }}"
        dest: "{{ user_home }}/.ssh/{{ item.stat.path | basename }}"
        mode: "0600"
      loop: "{{ ssh_private_keys.results }}"
      loop_control:
        label: " {{ user_home }}/.ssh/{{ item.stat.path | basename }}"
      when:
        - inventory_hostname in groups['ssh_private_keys_targets']
        - inventory_hostname != source_host
        - item.stat.exists
      no_log: true # do not display anything on screen for security reasons

